.Chart {
  margin: 0 auto;
  background-color: #f9f9f9;
  display: flex;
  align-items: flex-end;
  padding: 50px;
}
.Chart--serie {
  height: 100%;
  margin: 0 30px 0 0;
  display: inline-block;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  transform-origin: 0 100%;
  animation: slideUp 0.6s;
  position: relative;
  border-bottom: 1px solid #c2c2c2;
}
.Chart--serie.stacked {
  display: block;
  max-width: 100px;
  margin-top: 10px;
}
.Chart--item {
  // background-color: red;
  display: inline-block;
  margin: 0 1px 0 0;
  flex: 1;
  transition: height 1s ease-out, width 1s ease-out;
  position: relative;
  text-align: center;
  border-radius: 2px 2px 0 0;
}
.Chart--item .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 500;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  margin-bottom: 30px;
  opacity: .9;
}
.Chart--item .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.Chart--item:hover {
  background-color: #dddfff;
}
.Chart--item:hover .tooltiptext {
  visibility: visible;
}
.Chart--item.stacked {
  position: relative;
  display: block;
  border-radius: 0;
}
.SelectBranch {
  width: 180px;
  height: 35px;
  background-color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  border-radius: 5px;
}
.Button {
  width: 80px;
  height: 35px;
  background-color: #3b5998;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  border-radius: 5px;
}
@keyframes slideUp {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
